{% load static %}
<!-- Header
============================================= -->
<header id="header" class="transparent-header page-section dark">
    <div id="header-wrap">

        <div class="container clearfix">

            <div class="row">
            <!-- Logo
            ============================================= -->
            <div id="logo">
                <a href="#" class="standard-logo" data-dark-logo="{% static 'img/logo-dark.png' %}"><img src="{% static 'img/logo.png' %}" alt="Canvas Logo"></a>
                <a href="#" class="retina-logo" data-dark-logo="{% static 'img/logo-dark.png' %}"><img src="{% static 'img/logo.png' %}" alt="Canvas Logo"></a>
            </div><!-- #logo end -->

            <div id="side-panel-trigger" class="side-panel-trigger"><a href="#"><i class="icon-reorder"></i></a></div>
            </div>
            

        </div>

    </div>

</header><!-- #header end -->
