{% load static %}
<header id="header" class="transparent-header page-section dark">

    <div id="header-wrap">

        <div class="container clearfix">

            <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

            <!-- Logo
            ============================================= -->
            <div id="logo">
                <a href="{% url 'home' %}" class="standard-logo" data-dark-logo="{% static 'img/logo-dark.png' %}"><img src="{% static 'img/logo.png' %}" alt="Canvas Logo"></a>
                <a href="{% url 'home' %}" class="retina-logo" data-dark-logo="{% static 'img/logo-dark.png' %}"><img src="{% static 'img/logo.png' %}" alt="Canvas Logo"></a>
            </div><!-- #logo end -->

            <!-- Primary Navigation
            ============================================= -->
            {% include 'layout/nav.html' %}
            <!-- #primary-menu end -->

        </div>

    </div>

</header>
