<div id="side-panel" class="dark">

	<div id="side-panel-trigger-close" class="side-panel-trigger"><a href="#"><i class="icon-line-cross"></i></a></div>

	<div class="side-panel-wrap">

		<div class="widget clearfix">

			<h4>Page</h4>

			<nav class="nav-tree nobottommargin">
				<ul>
					<li><a href="#">Sobre</a></li>
					<li><a href="#">Beneficios</a></li>
					<li><a href="#">Comparativas</a></li>
					<li><a href="#">Formatos y Tarifas</a></li>
					<li><a href="#">Contactos</a></li>
				</ul>
			</nav>

		</div>

	</div>

</div>
