<nav id="primary-menu">
    <ul class="one-page-menu">
        <li class="current"><a href="#" data-href="#header"><div>Home</div></a></li>
        <li><a href="#" data-href="#section-features"><div>Features</div></a></li>
        <li><a href="#" data-href="#section-pricing"><div>Pricing</div></a></li>
        <li><a href="#" data-href="#section-testimonials"><div>Testimonials</div></a></li>
        <li><a href="#" data-href="#section-specs"><div>Specifications</div></a></li>
        <li><a href="#" data-href="#section-buy"><div>Buy Now</div></a></li>
    </ul>

</nav>
